.btn{
    display: inline-block;
    padding: 5px 15px;
    font-size: 1.07em;
    font-weight: 700;
    color: #fff;
    background-color: $btn;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
    &:hover,
    &:active{
        color: #fff;
        background-color: $btn-hover;
    }
    &-big{
        padding: 25px 48px;
        border-radius: 10px;
    }
    &-sectional{
        margin-top: 40px;
        margin-bottom: 80px;
    }
    &-event{
        padding: 15px 25px;
    }
}
.buy{
    font-size: 13px;
}
@media (max-width: 1250px){
    .buy{
        font-size: 12px;
    }
    .btn{
        font-size: 13px;
        padding: 5px 10px;
    }
}