.btn{
    display: inline-block;
    padding: 5px 15px;
    font-size: 1.07em;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #fff;
    background-color: $btn;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
    &:hover,
    &:active{
        color: #fff;
        background-color: $btn-hover;
    }
    &-big{
        padding: 25px 48px;
        border-radius: 10px;
    }
    &-sectional{
        margin-top: 40px;
        margin-bottom: 80px;
        position: relative;
    }
    &-event{
        padding: 15px 25px;
        text-align: center;
    }
    &-transparent{
        background-color: transparent;
        border: 2px solid #fff;
        &:hover{
            background-color: #fff;
            color: $accent;
        }
    }
    &-indrop{
        width: 100%;
        margin-top: 25px;
        text-align: center;
    }
    &-payment{
        background-color: #97E0D8;
        box-shadow: 0px 10px 30px rgba(220, 252, 248, 0.6);
        border-radius: 5px;
        max-width: 389px;
        font-size: 18px;
        color: #000;
        text-transform: none;
        padding: 20px 18px;
        padding-left: 76px;
        letter-spacing: -0.03em;
        border: none;
        font-weight: 400;
        &:hover{
            background-color: #4BA39A;
        }
        &::before{
            content: '';
            width: 37px;
            height: 37px;
            background: url('../icons/wallet.png');
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.buy{
    font-size: 13px;
}
@media (max-width: 1250px){
    .buy{
        font-size: 12px;
    }
    .btn{
        font-size: 13px;
        padding: 5px 10px;
        &-big{
            padding: 17px 48px;
        }
        &-sectional{
            margin-bottom: 0px;
        }
        &-payment{
            padding: 20px 18px;
            padding-left: 76px;
            margin-top: 20px;
        }
    }
}
@media (max-width: 767px){
    .btn{
        &-sectional{
            margin-top: 10px;
        }
        &-payment{
            margin-top: 0px;
        }
    }
}