.reviews{
    min-height: 1117px;
    background: url('../img/reviews/reviews-bg.jpg') center/cover no-repeat;
    padding: 100px 0;
    
    &__title{
        margin-top: 0;
    }
}

.Header__WidgetTitle-sc-17gc7x6-2.kwObyu {
    display: none;
}

@media (max-width: 1200px){
    .reviews{
        padding: 20px 0 50px;
    }
}