.rules{
    background-color: $light-blue;
    min-height: 986px;
    &__inner{
        padding: 50px 0 62px;
    }
}
@media (max-width: 1200px){
    .rules{
        &__inner{
            padding: 1px 0 100px;
        }
    }
}

.short{
    position: relative;
    padding-left: 100px;
    &::before{
        content: url('../img/rules/shorts.svg');
        position: absolute;
        width: 80px;
        height: 80px; 
        left: 0;
    }
}