.schema{
    min-height: 1188px;
    padding: 10px 0 50px;
    background: url('../img/schema/schema-bg.jpg') center/cover no-repeat;
    &__img{
        display: block;
        margin-bottom: 40px;
        img{
            width: 100%;
        }
    }
}